{% extends 'filmy/base.html' %}

{% block 'title' %}Filmy | {{ block.super }}{% endblock %}

{% block 'content' %}
    <h1>Filmy</h1>

    <br>

    <h2>Názvy filmů:</h2>

    <ul>{% for movie in movies %}

        <li>{{movie.name}} </li> <br>

    {% endfor %} </ul>

    <div class="row">
        <form method="get" action="./">
        <div class="input-group mb-3">
            <input type="text" name="search" value="{{ search|default:"" }}" class="form-control" placeholder="Vyhledat film ..." aria-label="Hledat" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Hledat</button>
        </div>
        </form>
    </div>
    
    <div class="row">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a class="btn {% if not genre %}btn-primary{% else %}btn-outline-secondary{% endif %}" href="./">Všechno</a>
            </li>
            {% for g in genres %}
            <li class="list-inline-item">
                <a class="btn {% if g.name == genre %}btn-primary{% else %}btn-outline-secondary{% endif %}" href="./?genre={{ g.name }}">{{ g.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    
    <div class="row row-cols-1  row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">

        {% for movie in movies %}

        <div class="col">

            <div class="card h-100">

                <img class="card-img-top" style="height: 350px" src="{% if movie.main_picture %}{{movie.main_picture}} {% else %}//place-hold.it/180x100/ {% endif %}" alt="Foto filmu">

                <div class="card-body">

                    <h5 style="text-decoration: underline; font-weight: bold;" class="card-title">{{ movie.name }} ({{ movie.year}})</h5>


                    {% if movie.director %}

                    <h6 style="text-decoration: underline dotted red; font-weight: bold; margin-top: 15px;
                    "> Režie: </h6><ul>
                        <li>{{movie.director}}</li>
                       </ul> 

                    {% endif %}

                    <h6 style="text-decoration: underline dotted red; font-weight: bold;
                    ">Herci: </h6>

                    <ul> {% for actor in movie.actors.all %}
                         <li>{{actor.name}}</li>
                        {% endfor %}</ul>


                    {% for genre in movie.genres.all %}

                    <span class="badge rounded-pill text-bg-primary">{{genre.name}}</span>

                    {% endfor %}

                    <p class="card-text mt-3 ">{{ movie.description|truncatewords_html:15 }}</p>

                </div>
                
                <div class="card-footer text-end">
                    <a href="{% url 'movie' movie.id %}" class="btn btn-primary">Detaily</a>
                </div>
                

            </div>
            
        </div>

        {% endfor %}

    </div>


            
        
{% endblock %}