{% extends 'filmy/base.html' %}

{% block 'title' %}Filmy | {{ block.super }}{% endblock %}

{% block 'content' %}

    <h1>Herci</h1>

    <br>

    <h2>Jména herců:</h2>

    <ul>{% for actor in actors %}

        <li>{{actor.name}} </li> <br>

    {% endfor %} </ul>

    
    <div class="row row-cols-1  row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">

        {% for actor in actors %}

        <div class="col">

            <div class="card h-100">

                <img class="card-img-top" style="height: 350px" src="{% if actor.main_picture %}{{actor.main_picture}} {% else %}//place-hold.it/180x100/ {% endif %}" alt="Foto filmu">

                <div class="card-body">

                    <h5 style="text-decoration: underline; font-weight: bold;" class="card-title">{{ actor.name }} ({{ actor.birth_year}})</h5>

                    <p class="card-text mt-3 ">{{ actor.description|truncatewords_html:15 }}</p>

                </div>
                
                <div class="card-footer text-end">
                    <a href="{% url 'actor' actor.id %}" class="btn btn-primary">Detaily</a>
                </div>
                

            </div>
            
        </div>

        {% endfor %}

    </div>


            
        
{% endblock %}