{% extends 'filmy/base.html' %}

{% block 'title' %}{{actor.name}} | {{ block.super }}{% endblock %}

{% block 'content' %}
    
<div class="container my-4">

    <h1 class="display-4 fw-bold fst-italic mb-3">{{ actor.name }}</h1>

    <h5 class="text-muted mb-3">Rok narození: {{ actor.birth_year }}</h5>

    {% if actor.main_picture %}
    <div class="mb-4">
        <img src="{{ actor.main_picture }}" alt="{{ actor.name }}" class="img-fluid rounded"
            style="max-height: 300px;">
    </div>
    {% endif %}

    <h4 class="fw-semibold mb-2">Základní informace:</h4>
    <p class="lead" style="text-align: justify;">{{ actor.description }}</p>

</div>

{% endblock %}